@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
    --cortexto: white;
    --cor: rgba(27, 28, 31, 0.767);
    --fundo: rgb(95, 162, 189);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--cortexto);
}

body {
    background: var(--fundo);
    background-image: url("imagens/fundo03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    text-align: right;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    text-align: center;
    margin: 15px;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    height: 95vh; /* Pode dar problema na responsividade */
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

h1 {
    text-shadow: 10px;
}

.name {
    color: var(--cor);
    text-shadow: 10px;
}

.right {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    position: relative;
    background-image: url(foto-perfil.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-color:var(--cor);
    width: 250px;
    height: 250px;
    border-radius: 69% 31% 50% 50% / 44% 48% 52% 56%  ;
}


