@charset "UTF-8";

/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");

/* CORES */

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, var(--lilas), #b47fd8);
}


/* CONTAINER PRINCIPAL */

#login {
    margin: 50px 50px;
    border: 1px solid #00000062;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.575);
    background-color: #ffffff;
}

/* IMAGEM */

#imagem {
    height: 230px;
    background: url("../img/pattern-phone.jpg") no-repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* FORMULARIO */

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 30px 20px;
}

/* TITULO */

#formulario h1 {
    text-transform: uppercase;
    font-weight: 900;
}

/* INFORMAÇÃO */

#formulario p {
    text-align: center;
}

/* FORM */

#formulario form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

/* INPUTS */

#formulario input {
    border-radius: 10px;
    height: 35px;
    width: 100%;
    border: 2px solid var(--lilas);
    padding-left: 5px;
}

/* FUNDO DOS INPUTS */

.fundo-input {
    background-color: var(--lilas);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ICONES */

#fundo-email::before,
#fundo-senha::before {
    font-family: FontAwesome;
    padding: 0px 10px;
    color: #ffffff;
}

#fundo-email::before {
    content: "\f007";
}

#fundo-senha::before {
    content: "\f084";
}

#formulario button {
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

#formulario #btn-entrar {
    letter-spacing: 1.5px;
    background-color: var(--verde);
    color: #ffffff;
    border: none;
}

#formulario #btn-entrar:hover {
    background-color: #ffffff;
    color: var(--verde);
    border: 1px solid var(--verde);
}

#formulario #btn-esqueci {
    color: var(--verde);
    border: 1px solid var(--verde);
}

#formulario #btn-esqueci:hover {
    background-color: var(--verde);
    color: #ffffff;
    border: none;
}

