@charset "UTF-8";

/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");

/* CORES */

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */

body {
    background-color: #9c56cab9;
}


/* CONTAINER PRINCIPAL */

#login {
    margin: 100px 50px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #ffffff;
}

/* IMAGEM */

#imagem {
    height: 230px;
    background: url("../img/pattern-phone.jpg") no-repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* FORMULARIO */

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 30px 20px;
}

#formulario h1 {
    text-transform: uppercase;
    font-weight: 900;
}

#formulario p {
    text-align: center;
}

#formulario form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

#formulario input {
    border-radius: 10px;
    height: 35px;
    width: 87%;
    border: 2px solid var(--lilas);
    margin-left: 33px;
}

.fundo-input {
    background-color: var(--lilas);
    border-radius: 10px;
}

#formulario button {
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

#formulario #btn-entrar {
    letter-spacing: 1.5px;
    background-color: var(--verde);
    color: #ffffff;
    border: none;
}

#formulario #btn-entrar:hover {
    background-color: #ffffff;
    color: var(--verde);
    border: 1px solid var(--verde);
}

#formulario #btn-esqueci {
    color: var(--verde);
    border: 1px solid var(--verde);
}

#formulario #btn-esqueci:hover {
    background-color: var(--verde);
    color: #ffffff;
    border: none;
}

