@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }

  body {
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .box, .card, .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box {
    gap: 30px;
    height: 400px;
    width: 280px;
  }

  .city {
    font-size: 1em;
    width: 155px;
    padding: 3px;
    background-color: rgba(128, 128, 128, 0.349);
    border: none;
    border-radius: 5px;
  }

  button {
    font-size: 1em;
    padding: 3px 10px;
    background-color: rgba(93, 180, 214, 0.61);
    border: none;
    border-radius: 5px;
    transition: .3s;
  }

  button:hover {
    cursor: pointer;
    background-color: rgba(39, 129, 165, 0.61);
    color: white;
  }

  .card {
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: rgb(77, 76, 76);
    box-shadow: 2px 5px 9px 5px rgba(71,71,71,0.81);
  }

  .card-location-name {
    padding-top: 15px;
    font-size: 2.5em;
    font-weight: bolder;
  }

  .card-temperature {
    padding-top: 10px;
    display: flex;
  }

  .card-temperature-value {
    font-size: 5em;
    font-weight: bolder;
    color: gray;
  }

  .card-temperature-icon {
    font-size: 1.5em;
    color: gray;
  }

  .card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }

  .card-img-icon {
    width: 90px;
  }

  /* Quando a tela for menor que 950 pixels faz essas alterações */
@media only screen and (max-width: 950px){
  .container {
    justify-content: flex-start;
    margin-top: 30px;
  }
}